---

---

    <div class="w-full border border-gray-300 rounded-lg bg-black py-2 px-4 ">
        <details class="faq-border mb-4 pb-2 group max-lg:px-5 ">
            <summary class="text-white cursor-pointer flex justify-between items-center group-hover:underline">
              ¿Puedo usar esto en mi proyecto?
              <span class="ml-2">
                <svg class="w-4 h-4 transition-transform group-open:rotate-90" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
              </span>
            </summary>
            <p class="text-white pt-5">Sí. es de uso gratuito para proyectos personales y comerciales. No se requiere atribución.</p>
          </details>
          
          <details class="faq-border mb-4 pb-2 group max-lg:px-5 ">
            <summary class="text-white cursor-pointer flex justify-between items-center group-hover:underline">
              ¿Por qué no lo publicas como paquete npm?
              <span class="ml-2">
                <svg class="w-4 h-4 transition-transform group-open:rotate-90" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
              </span>
            </summary>
            <p class="text-white pt-5">La idea detrás de esto es darle propiedad y control sobre el código, permitiéndole decidir cómo se construyen y diseñan los componentes.</p>
          </details>
          
          <details class="faq-border mb-4 pb-2 group max-lg:px-5 ">
            

              <summary class="text-white cursor-pointer flex justify-between items-center group-hover:underline">
                ¿Qué frameworks son compatibles?
                <span class="ml-2">
                  <svg class="w-4 h-4 transition-transform group-open:rotate-90" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                  </svg>
                </span>
                
              </summary>
          
            <p class="text-white pt-5">Puedes usarlo en cualquiera, React, Astro, Angular, Vue, etc.</p>
          </details>
          
    </div>

  