---

---

<div class="flex items-center p-3 rounded-2xl bg-blue-100 text-blue-700" role="alert">
    <i class="ri-information-line mr-2"></i>
    <span>This is an informational alert message.</span>
  </div>
  
  
