---
import Layout from "../layouts/Layout.astro";
import Framework from "../components/layout/Framework.astro";
---


<Layout title="NicoUI | Documentación">
    <section class="max-w-4xl m-auto pt-36 max-md:pt-0 ">
        
        <h1 class="text-white font-semibold flex items-center gap-3 mt-7 max-md:text-center max-md:pt-28 max-lg:pl-5 ">
            Docs
            <i class="ri-book-open-line text-white text-lg"></i>
      </h1>

      <section class=" text-white pt-5 flex flex-col gap-4" id="introduccion">

        <h2 class="text-3xl font-semibold mb-1 max-lg:pl-5">Introduccion</h2>
        <p class="italic text-gray-400 text-xl  max-lg:pl-5 max-sm:pr-1 max-sm:text-lg">Accsesible, Personalizable, Open Source</p>
        <p class="text-lg max-lg:pl-5 max-sm:text-base">Esta <strong>NO</strong> es una biblioteca de componentes. Es una coleccion de componentes reutilizables que puedes copiar y pegar en tus aplicaciones.</p>
        <strong class="max-lg:pl-5 text-xl max-sm:text-lg" >¿Que significa que no es una biblioteca de componentes?</strong>
        <p class="text-lg max-lg:pl-5 max-sm:text-base">Significa que no lo instalas como una dependencia. No está disponible ni se distribuye a través de npm.</p>

        <div class="mt-4 flex flex-col gap-5">
          <h3 class="faq-border text-xl font-bold mb-2 pb- 2 max-lg:pl-5 ">Preguntas Frecuentes</h3>
          
          <details class="faq-border mb-4 pb-2 group max-lg:px-5 ">
            <summary class="text-white cursor-pointer flex justify-between items-center group-hover:underline">
              ¿Puedo usar esto en mi proyecto?
              <span class="ml-2">
                <svg class="w-4 h-4 transition-transform group-open:rotate-90" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
              </span>
            </summary>
            <p class="text-white pt-5">Sí. es de uso gratuito para proyectos personales y comerciales. No se requiere atribución.</p>
          </details>
          
          <details class="faq-border mb-4 pb-2 group max-lg:px-5 ">
            <summary class="text-white cursor-pointer flex justify-between items-center group-hover:underline">
              ¿Por qué no lo publicas como paquete npm?
              <span class="ml-2">
                <svg class="w-4 h-4 transition-transform group-open:rotate-90" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
              </span>
            </summary>
            <p class="text-white pt-5">La idea detrás de esto es darle propiedad y control sobre el código, permitiéndole decidir cómo se construyen y diseñan los componentes.</p>
          </details>
          
          <details class="faq-border mb-4 pb-2 group max-lg:px-5 ">
            

              <summary class="text-white cursor-pointer flex justify-between items-center group-hover:underline">
                ¿Qué frameworks son compatibles?
                <span class="ml-2">
                  <svg class="w-4 h-4 transition-transform group-open:rotate-90" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                  </svg>
                </span>
                
              </summary>
          
            <p class="text-white pt-5">Puedes usarlo en cualquiera, React, Astro, Angular, Vue, etc.</p>
          </details>
        </div>
        
      </section>

      <section class="mt-11" id="componentes">
        <h2 class="text-3xl font-semibold mb-1 text-white max-lg:pl-5">Componentes</h2>
        <p class="text-white mt-5 text-lg max-lg:pl-5 max-sm:text-base ">Los componentes estan creados con Tailwind CSS, son accesibles y personalizables, ente ellos encontraras: </p>
        <ul class="text-white flex flex-col gap-3 mt-4 pl-7 max-lg:pl-10">
          <li class=" list-disc ">
            <span>Button</span>
          </li>
          <li class="list-disc">
            <span>Card</span>
          </li>
          <li class="list-disc">
            <span>Input</span>
          </li>
          <li class="list-disc">
            <span>Alert</span>
          </li>
          <li class="list-disc">
            <span>Form</span>
          </li>
          <li class="list-disc">
            <span>Table</span>
          </li>
        </ul>
        <p class="text-white mt-5 text-lg max-lg:pl-5 max-sm:text-base">y muchos mas...</p>
      </section>

      <section class="mt-11 pt-5 " id="frameworks">
        <h2 class="text-3xl max-sm:text-2xl font-semibold mb-1 text-white max-lg:pl-5">Frameworks</h2>
        <p class="text-white text-lg my-5 max-lg:pl-5 max-sm:text-base max-sm:pr-2">Elige tu framework preferido y explora los componentes disponibles.</p>
        <div class="grid grid-cols-3 w-full justify-center items-center mt-14 gap-8 max-md:grid-cols-2 max-sm:grid-cols-1 max-md:p-4 ">
          <Framework
          image="/Angular.svg"
          alt="Angular svg"
          label="Angular"
          href="/angularPage"
        />
        <Framework
          image="/React.svg"
          alt="React svg"
          label="React"
          href="/reactPage"
        />
        <Framework
          image="/Vue.svg"
          alt="Vue svg"
          label="Vue"
          href="/vuePage"
        />
        <Framework
          image="/Svelte.svg"
          alt="Svelte svg"
          label="Svelte"
          href="/sveltePage"
        />
        <Framework
          image="/Astro.svg"
          alt="Astro svg"
          label="Astro"
          href="/astroPage"
        />
        <Framework
          image="/NextJs.svg"
          alt="NextJS svg"
          label="Next.Js"
          href="/nextPage"
        />
        </div>
      </section>

    </div>
  
  </section>

</Layout>


<style>
  .faq-border{
    border-bottom: 0.5px solid #9ca3af ;
  }
  .group-open .transition-transform {
  transform: rotate(90deg);
}

</style>

