---
const { title } = Astro.props;
import Header from '@/sections/Header.astro';
import '../styles/globals.css'
import Caracteristicas from '@/sections/Caracteristicas.astro';
import Framewoks from '@/sections/Framewoks.astro';
import Funcionamiento from '@/sections/Funcionamiento.astro';
import Banner from '@/sections/Banner.astro';
import Footer from '@/sections/Footer.astro';
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    
  </head>
  <body class="bg-black">
    <Header/>
    <main>
      <Caracteristicas/>
      <Framewoks/>
      <Funcionamiento/>
      <Banner/>
    </main>
    <Footer/>
  </body>
</html>

<style is:global>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
  }
  body {
    font-family: 'Lato', sans-serif;
  }
  body, html {
    scroll-behavior: smooth;
  }
  img {
    display: flex;
    max-width: 100%;
  }
</style>
