---
import Layout from "@/layout/Layout.astro";
import Nav from "@/components/Nav.astro";
import Footer from "@/sections/Footer.astro";

---
<Nav/>
<Layout>
    <section class="max-w-7xl m-auto">
        <aside class="float-left mt-8">
            <ul class="flex flex-col gap-2">
                <li><a class="text-gray-400 transition duration-150 hover:text-white" href="#">Button</a></li>
                <li><a class="text-gray-400 transition duration-150 hover:text-white" href="#">Card</a></li>
                <li><a class="text-gray-400 transition duration-150 hover:text-white" href="#">Input</a></li>
                <li><a class="text-gray-400 transition duration-150 hover:text-white" href="#">Alert</a></li>
                <li><a class="text-gray-400 transition duration-150 hover:text-white" href="#">Form</a></li>
                <li><a class="text-gray-400 transition duration-150 hover:text-white" href="#">Table</a></li>
            </ul>
        </aside>
        <section class=" text-white flex flex-col max-w-4xl m-auto" >
            <div class="text-white font-semibold flex items-center gap-2 mt-7 ">
                <h2>Docs</h2>
                  <span>
                      <i class="ri-arrow-right-line"></i>
                  </span>
                  React
                  <span class="font-normal text-2xl">
                      <i class="ri-reactjs-fill "></i>
                  </span>
            </div>
  
          <h1 class="text-3xl font-semibold mt-3">Instalación React</h1>
          

         
          
          
        </section>
  
       
  
       
  
      </div>
    
    </section>
</Layout>
<Footer/>