---
const {image, alt, label, href} = Astro.props
---
<div class="flex justify-center">
    <a href={href}
    class="w-full" 
    >
    <article class="framework cursor-pointer py-8 flex flex-col bg-slate-950 rounded-2xl">
        <img src={image} alt={alt} class="frameworks-img py-5 h-24"  >
        <label class="text-center text-gray-400 ">{label}</label>
    </article>
</a>
</div>

<style>
.framework{
    
    transition:all 0.3s;
}

.framework:hover span{
    text-decoration: underline;
}
.framework:hover{
    box-shadow: 5px 5px 5px #9aaecf;
}
</style>

