---
import { Github } from "lucide-react"
---
<section class=" pt-44 px-8  pb-56 gradient-section ">
    <div class="max-w-7xl m-auto">
        <h1 class="text-white text-center text-7xl">Bienvenido a NicoUI </h1>
        <p class="text-gray-300 text-center pt-6 text-xl">La biblioteca con los mejores componentes reutilizables.</p>
        <div class="flex items-center gap-5 justify-center pt-8">
            <a class="font-semibold text-black py-3 px-8 bg-white transition duration-200 rounded-xl hover:bg-slate-300" href="#">Comenzar</a>
            <a class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-3 px-6 rounded-lg transition-colors flex items-center gap-2" href="#">Ver en Github <Github /></a>
        </div>
    </div>

</section>

<style>
    .gradient-section {
  background: linear-gradient(to top, #0f172a 0%, #0f172a 0%, #000000 30%);
}
</style>