---
import { Github } from 'lucide-react';
---
<nav class="flex justify-between items-center max-w-7xl m-auto pt-7 pb-6">
    <ul class="flex items-center gap-8">
        <li>
            <a class="text-yellow-50 font-semibold text-3xl" href="#">NicoUI</a>
        </li>
        <li>
            <a href="#" 
               class="font-medium text-gray-400 text-l transition duration-200 hover:text-cyan-50" 
               aria-label="Documentation">Docs</a>
        </li>
        <li>
            <a href="#" 
               class="font-medium text-gray-400 text-l duration-200 hover:text-cyan-50" 
               aria-label="Components">Components</a>
        </li>
    </ul>
    <a class="font-medium text-gray-400 text-l duration-100 hover:text-cyan-50 p-1 hover:border-solid border-gray-400 rounded-3xl hover:border-cyan-50 " 
       href="https://github.com/NicoAlvarado10/NicoUI" 
       target="_blank" 
       rel="noopener noreferrer" 
       aria-label="GitHub Repository">
       <Github/>
    </a>
</nav>
