---

---
<section class="py-24 px-8 bg-slate-950">
    <div class="max-w-7xl m-auto flex items-center justify-center flex-col">
        <h2 class="text-center text-white text-5xl">Comienza a Usar <span class="underline">NicoUI</span> Hoy</h2>
        <p class="text-center text-gray-400 text-lg mt-5">Acelera tu desarrollo con componentes listos para usar en múltiples frameworks</p>
        <div class="mt-8">
            <a class=" px-8 py-4 rounded-2xl text-slate-100 transition duration-200 bg-gray-600 hover:bg-slate-500" href="#">Comenzar</a>
        </div>
    </div>
</section>