---

---
<section class=" pt-36 px-8 flex justify-center items-center">
    <div class="max-w-7xl m-auto flex items-center justify-center flex-col">
        <h2 class="text-center text-white text-5xl">Revoluciona hoy tu desarrollo con <span class="underline">NicoUI</span></h2>
        <p class="text-center text-gray-400 text-lg mt-5  text-balance">Acelera tu desarrollo con componentes listos para usar en múltiples frameworks.</p>
        <div class="mt-8">
            <a class="font-semibold text-black py-4 px-8 bg-white transition duration-200 rounded-xl hover:bg-slate-300 max-sm:w-7/12 text-center" href="/docs">Comenzar</a>
        </div>
    </div>
</section>