---

---
<section class="pt-24 pb-32 px-8  bg-slate-950 gradient-section">
    <div class="max-w-7xl m-auto">

        <h2 class="text-white text-center text-5xl">Potencia Tu Desarrollo</h2>
        <div class="grid grid-cols-3 max-md:grid-cols-2 items-center gap-8 pt-20 max-sm:grid-cols-1">
            <article class="max-sm:w-full caracteristica-1 rounded-xl text-center py-10 px-8 bg-black ">
                <div class="flex m-auto w-14  bg-blue-500 p-3 rounded-full mb-2 transtion duration-150 hover:bg-blue-400 ">
                    <i class="ri-file-copy-line h-8 w-8 text-white"></i>
                </div>
                <h3 class="text-white text-xl font-semibold mb-2 tracking-wide">Copiar y Pegar</h3>
                <p class="text-gray-400 text-balance">Simplemente copia el código del componente y pégalo en tu proyecto.
                </p>
            </article>
            <article class="max-sm:w-full caracteristica-2 text-center py-10 px-8 rounded-2xl bg-black max-md:py-5">
                <div class="flex m-auto w-14 bg-green-500 p-3 rounded-full mb-2 transtion duration-150 hover:bg-green-400">
                    <i class="ri-layout-6-line h-8 w-8 text-white"></i>
                  </div>
                  <h3 class="text-white  text-xl font-semibold mb-2 tracking-wide">Compatible</h3>
                  <p class="text-gray-400  text-balance">Componentes compatibles con React, Vue, Angular y otros frameworks populares.</p>
            </article>
            <article class="max-sm:w-full caracteristica-3 text-center py-10 px-8 rounded-2xl bg-black max-md:py-5">
                <div class="flex m-auto w-14 bg-purple-500 p-3 rounded-full mb-2 transtion duration-150 hover:bg-purple-400">
                    <i class="ri-palette-line h-8 w-8 text-white"></i>
                  </div>
                  <h3 class="text-white text-xl font-semibold mb-2 tracking-wide">Personalizable</h3>
                  <p class="text-gray-400 text-balance">Fácil de adaptar a tu diseño y necesidades específicas.</p>
            </article>
        </div>
        <div class="flex justify-center items-center mt-14">
            <span class="text-gray-400 transform italic text-lg underline text-center">
                "Lo simple es la clave de la brillantez" Bruce Lee
            </span>
        </div>
    </div>
</section>

<style>

.gradient-section {
  background: linear-gradient(to bottom, #0f172a 0%, #0f172a 90%, #000000 100%);
}
.caracteristica-1 {
  box-shadow: 0 -5px 10px -5px #3b82f6;
  transition: 0.3s;
}
.caracteristica-1:hover {
  box-shadow: 0 -5px 20px -5px #60a5fa;
}
.caracteristica-2 {
  box-shadow: 0 -5px 10px -5px #4ade80;
  transition: 0.3s;
}
.caracteristica-2:hover {
  box-shadow: 0 -5px 20px -5px #22c55e;
}
.caracteristica-3 {
  box-shadow: 0 -5px 10px -5px #a855f7;
  transition: 0.3s;
}
.caracteristica-3:hover {
  box-shadow: 0 -5px 20px -5px #c084fc;
}

    
</style>