---
import { Github } from "lucide-react"
---

<footer class="bg-slate-950 pt-20 gradient-section">
    <div class="max-w-7xl pt-40 m-auto flex flex-col md:flex-row justify-between items-center p-11 p">
        <div class="mb-4 md:mb-0 flex flex-col gap-2">
          <span class="text-2xl font-bold text-white ">NicoUI</span>
          <p class="text-gray-400 w-96">Componentes UI para todos los frameworks frontend populares.</p>
        </div>
      
        <nav class="flex flex-wrap justify-center md:justify-end gap-4">
          <a href="/#hero" class="text-gray-400 hover:text-white transition-colors">Inicio</a>
          <a href="/docs" class="text-gray-400 hover:text-white transition-colors">Docs</a>
          <a href="/docs#componentes" class="text-gray-400 hover:text-white transition-colors">Componentes</a>
          <a href="/docs#frameworks" class="text-gray-400 hover:text-white transition-colors">Frameworks</a>
        </nav>
        <div class="flex justify-center items-center flex-col gap-3">
          <a class="transition duration-150 text-white hover:scale-110" 
           href="https://github.com/NicoAlvarado10/NicoUI" 
           target="_blank" 
           rel="noopener noreferrer" 
           aria-label="GitHub Repository">
           <span class="text-4xl">
            <i class="ri-github-fill"></i>
          </span>
        </a>
          <span class="text-center text-white flex items-center justify-center mb-3 gap-1">Desarrollado por<a href="https://portafolio-nico-alvarado.netlify.app/es/" class="hover:underline">Nico</a>🩵</span>
        </div>
      </div>
      <div class="copyright py-4 mt-9 flex justify-center items-center ">
        <p class="text-gray-400 text-center ">El codigo esta disponible en</p>
        <a class=" transition duration-150 p-1 text-gray-400 hover:text-white hover:underline" 
          href="https://github.com/NicoAlvarado10/NicoUI" 
          target="_blank" 
          rel="noopener noreferrer" 
          aria-label="GitHub Repository">
          Github
        </a>
        
       
      </div>
    </footer>
    
    <style>
      .copyright {
    border-top: 2px solid #9ca3af;
}
.gradient-section {
  background: linear-gradient(to top, #0f172a 50%, #0f172a 40%, #000000 100%);
}
</style>