---

---

<footer>
    <div class="max-w-7xl m-auto text-white grid grid-cols-3 justify-center items-center py-9">
        <article>
            <h3>NicoUI</h3>
            <p>Componentes UI para todos los frameworks frontend populares</p>
        </article>
        <article>
            <ul>
                <li><a href="#">Documentación</a></li>
                <li><a href="#">Github</a></li>
                <li><a href="#">Componentes</a></li>
            </ul>
        </article>
    </div>
   <div>
       <p class="text-gray-400 text-center mb-3">© 2024 NicoUI. Todos los derechos reservados.</p>
       <span class="text-center text-white flex items-center justify-center mb-3 gap-1">Creado por<a href="https://portafolio-nico-alvarado.netlify.app/es/" class="hover:underline">Nico</a>🩵</span>
   </div>
</footer>