---

---

<article class="flex flex-col rounded-lg py-3 transition duration-150 shadow-lg hover:shadow-2xl">
    <div class="flex items-center gap-4 bg-rose-500 py-4 px-3">
      <span class="py-2 px-3 rounded-full border-solid border-white bg-white">
        <i class="ri-user-fill text-slate-400 text-xl"></i>
      </span>
      <div>
        <h3 class="text-white font-bold">Jane Doe</h3>
        <p class="text-white">Diseñadora UI/UX</p>
      </div>
    </div>
    <div class="p-3 flex flex-col gap-2">
      <p class="text-slate-600">Creando experiencias de usuario intuitivas y atractivas.</p>
      <ul class="flex items-center gap-4">
        <li><span class="font-bold text-sm">UI/UX</span></li>
        <li><span class="font-bold text-sm">Figma</span></li>
        <li><span class="font-bold text-sm">Sketch</span></li>
      </ul>
    </div>
    <div class="py-2 px-4 flex items-center justify-between">
      <a class="bg-slate-300 cursor-pointer py-2 px-4 rounded-md transition duration-150 hover:bg-slate-400">Ver perfil</a>
      <a class="bg-neutral-950 text-white py-2 px-4 rounded-md transition duration-150 hover:bg-neutral-900" href="#">Conectar</a>
    </div>
  </article>