---
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import 'remixicon/fonts/remixicon.css';
import Nav from '../components/layout/Nav.astro';
import Footer from '../components/layout/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta name="author" content="Nicolás Alvarado">
		<meta charset="UTF-8" />
		<meta name="description" content="Librería de componentes UI flexible y personalizable para construir interfaces de usuario atractivas y funcionales. Optimizada para rendimiento y fácil de usar." />
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content="librería de componentes, componentes UI, interfaz de usuario, componentes web, desarrollo frontend, diseño de interfaces, accesibilidad, librería de UI, componentes personalizables, diseño responsivo">
		<link rel="icon" href="/Icon.svg" type="image/svg+xml">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body class="bg-black">
		<Nav />
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>
<style is:global>
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 0;
	text-decoration: none;
	list-style: none;
}
body {
  font-family: 'Lato', sans-serif;
}
html, body{
	scroll-behavior: smooth;
}
img{
	display: flex;
	max-width: 100%;
}
</style>
